* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border-bottom: 1px solid lightgray;
    padding: 20px;
    font-size: 20pt;
}

.content {
    max-width: 1200px;
    margin: auto;
}

#animation svg {
    max-height: 500px;
}

.test-result {
    margin-left: -20px;
    padding: 5px 20px;
}
.test-result:hover {
    background: #d9eaff;
}
.test-result:nth-child(odd) {
    background: #F0F0F0;
}
.test-result.successful {
    background: rgb(237, 249, 237);
}
.test-result.successful:nth-child(odd) {
    background: rgb(209, 235, 209);
}
.test-result.failed {
    background: #ffe8e7;
}
.test-result.failed:nth-child(odd) {
    background: #ffdad9;
}

button {
    margin: 10px;
    background-color: #4e8df4;
    border: 0;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    font-size: 10pt;
    padding: 15px
}
button:hover {
    background-color: #8ab2f2;
}